*{
    margin: 0;
    padding: 0;
    
    --main-color: #ce1f1d;
    --main-color1:#f5c134;
    --main-color2:#ffaebb;
    --second-color: #ffff;
}

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration: none;
}

p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Rubik';
    padding-bottom: 16px;
}

h1{
    font-size: 32px;
    font-family: fantasy;
}

body{
    height: auto;
    width: 100%;
}
li{
    list-style: none;
}
/*MENU*/
header {
    background-color: var(--main-color1);
    justify-content: space-between;    

}
.container{
    margin: 0 auto;
    max-width: 1200px;
}

.logotipo{
    height: 120px;
    width: auto;
}

.menu_logotipo{
    height: 50px;

}

.logotipo_letra{
    align-content: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.menu{
    display: flex;
}
.menu-item{
    color: var(--second-color);
    padding: 0px 20px;
    
}
.menu-item:hover{
    color: #ce1f1d;
}

/*Descripción ASIDE*/
main{
    background-color:var(--main-color2);
}
.title{
    padding: 30px 0 30px 0;
    text-align: center;
}
/*Navegación lateral*/
aside{
    float: left;
    height: auto;
    width: 300px;
    background-color: green;
    border-radius:20px ;
    margin-right:20px ;
}
.items-color{
    color: black;
}
.items{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: left;
    font-family:'Poppins' ;
    letter-spacing: 1px;
    font-size: 24px;
    padding: 20px 30px;

}
/*Cards*/
.side-container{
    margin: 20px auto;
}

.article-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.image{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.card{
    background-color:var(--second-color);
    border-radius: 20px;

}
.card:hover {
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    cursor: pointer; 
}

.content{
    padding: 2rem;
}

.content .card-title{
    color: #ce1f1d;
    text-align: center;
}

.content .card-price{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ce1f1d;
    text-align: center;
}


/*Footer*/
.pie_pagina{
    background-color: var(--main-color1);
}

.pie_pagina .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    text-align: center;
    align-items: center;
}
.pie_pagina .container .box h2{
    color: var(--second-color);
}






.copy{
    text-align: center;
}